<div id="background">
	<h1 id="title">The HTML Elements</h1>
	<h3 id="selector-title">Select A Category:</h3>
	<div id="filters" class="button-group">
  		<button class="button is-checked red" data-filter="*">Show All</button>
  		<button class="button" data-filter=".root">Root Element</button>
  		<button class="button" data-filter=".metadata">Document Metadata</button>
  		<button class="button" data-filter=".scripting">Scripting</button>
  		<button class="button" data-filter=".sections">Sections</button>
  		<button class="button" data-filter=".grouping">Grouping Content</button>
  		<button class="button" data-filter=".semantics">Text-level Semantics</button>
  		<button class="button" data-filter=".edits">Edits</button>
  		<button class="button" data-filter=".embedded">Embedded Content</button>
  		<button class="button" data-filter=".tabular">Tabular Data</button>
  		<button class="button" data-filter=".forms">Forms</button>
  		<button class="button" data-filter=".interactive">Interactive Elements</button>
  		<button class="button" data-filter=".true">HTML 5</button>
  		<div id="block-or-inline">
  			<p>Filter by block or inline elements:</p>
  			<button class="button left-radius" data-filter=".block">Block</button>
  			<button class="button" data-filter=".inline">Inline</button>
  		</div>
	</div>
	<main id="container" class="">
	
		<% @tiles.each do |tile| %>
		
			<article class="element-container <%= tile.category.name.downcase  %> <%= tile.is_html5 %> <%= tile.blockOrInline %>">
				<h3 class="element-name"><%= tile.element %></h3>
				<% if tile.is_html5 %>
					<figure class="html5"><%= image_tag("logo.png", :class=> "html-logo")%></figure>
				<% end %>
				<p class="element-description"><%= tile.description %></p>
				<div class="inline-or-block"><%= tile.blockOrInline if tile.blockOrInline != nil %></p>
			</article>
	
		<% end %>
	</main>
	<div id="fade"></div>
	<aside id="overlay">
		<h1>Attributions</h1>
		<ul>
			<li>The layout and filtering effects were created using <a href="http://isotope.metafizzy.co/">Isotope</a></li>
			<li>All descriptions and tags are taken from the <a href="https://developer.mozilla.org/en/docs/Web/Guide/HTML/HTML5/HTML5_element_list">Mozilla Developer Network</a></li>
			<li>The HTML5 image can be found <a href="http://www.w3.org/html/logo/">here</a></li>
		</ul>
		<h3 id="author-intro">Website by, </h3> 
		<h3 id="name">Michael Bottjer</h3>
		<a href="https://github.com/MBottjer" id="github">Github</a>
		<a href="https://uk.linkedin.com/in/mbottjer/" id="linked-in">LinkedIn</a>
		<a onclick="document.getElementById('overlay').style.display='none';document.getElementById('fade').style.display='none'" href="javascript:void(0)" id="close-modal">Close</a>
	</aside>

</div>



